:root {
  --mauve: #c6a0f6;
  --pink: #f5bde6;
  --red: #ed8796;
  --yellow: #eed49f;
  --blue: #8aadf4;
  --green: #a6da95;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --crust: rgba(24, 25, 38, 0.9);
}

/* Global styles for ToolTip */
QToolTip {
  padding: 6px;
  color: var(--text);
  font-size: 12px;
  background-color: var(--crust);
  border: 0px solid var(--surface1);
  border-radius: 6px;
}

* {
  font-size: 12px;
  color: var(--text);
  background-color: var(--crust);
  font-weight: 600;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
}

.yasb-bar {
  padding: 0 8px;
  margin: 0;
  border-radius: 12px;
}

.widget {
  padding: 0 10px;
  margin: 0;
}

.widget .label {
  padding: 2px 2px 1px 2px;
}

.widget .label.alt {
  padding: 1px 8px 1px 8px;
}

.clock-widget .label {
  padding-left: 0px;
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  color: var(--surface2);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.calendar .calendar-table::item:hover {
  background-color: var(--overlay2);
}

.calendar .calendar-table::item:selected {
  color: var(--text);
}

.calendar .day-label {
  margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  background-color: transparent;
  color: var(--text);
  font-size: 16px;
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}

.calendar .month-label {
  font-weight: normal;
}

.calendar .date-label {
  font-size: 88px;
  font-weight: 900;
  color: var(--text);
  margin-top: -20px;
}

.home-widget {
  padding: 0 4px 0 12px;
}

.home-widget .icon {
  color: var(--blue);
}

.home-widget .icon:hover {
  color: var(--text);
}

.home-menu {
  background-color: rgba(24, 25, 38, 0.9);
}

.home-menu .menu-item {
  padding: 6px 48px 7px 16px;
  font-size: 12px;
  color: var(--lavender);
  font-weight: 600;
}

.home-menu .menu-item:hover {
  background-color: rgba(73, 77, 100, 0.9);
  color: var(--text);
}

.home-menu .separator {
  max-height: 1px;
  background-color: rgba(128, 135, 162, 0.9);
}

.komorebi-workspaces .widget-container,
.komorebi-active-layout .widget-container {
  margin: 3px 0 3px 0;
  border-radius: 5px;
}

.komorebi-workspaces .widget-container {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  /* margin-left: 4px; */
}

.komorebi-workspaces {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.komorebi-workspaces .offline-status {
  color: var(--surface2);
  font-size: 12px;
  padding: 0 0 0 4px;
  font-weight: 600;
}

.komorebi-workspaces .ws-btn {
  border: none;
  background-color: transparent;
  margin: 0;
  font-size: 12px;
  color: var(--overlay1);
  height: 28px;
  width: 18px;
}

.komorebi-workspaces .ws-btn:hover {
  color: var(--overlay1);
}

.komorebi-workspaces .ws-btn.populated {
  color: transparent;
  width: 10px;
  height: 10px;
  background-color: var(--lavender);
  border-radius: 5px;
  margin: 0 4px;
  font-size: 1px;
}

.komorebi-workspaces .ws-btn.active {
  color: transparent;
  background-color: var(--blue);
  width: 32px;
  max-width: 32px;
  height: 10px;
  margin: 0 4px;
  border-radius: 5px;
}

/* .komorebi-workspaces .ws-btn { */
/*   font-size: 18px; */
/*   background-color: transparent; */
/*   padding: 0 2px 0 2px; */
/* } */
/**/
/* .komorebi-workspaces .ws-btn:hover { */
/*   background-color: var(--overlay1); */
/* } */
/**/
/* .komorebi-workspaces .ws-btn.populated, */
/* .komorebi-workspaces .ws-btn.populated:hover, */
/* .komorebi-workspaces .ws-btn.active { */
/*   color: var(--blue); */
/* } */

.komorebi-control-widget .label {
  font-size: 14px;
  color: var(--text);
  font-weight: 600;
}

.komorebi-control-widget .icon {
  color: var(--blue);
}

.komorebi-control-widget .icon:hover {
  color: var(--text);
}

.komorebi-control-menu {
  background-color: rgba(24, 25, 38, 0.9);
}

.komorebi-control-menu .button {
  color: var(--surface1);
  padding: 8px 16px;
  font-size: 32px;
  border-radius: 8px;
  background-color: #24273a;
}

.komorebi-control-menu .button.active {
  color: var(--text);
  background-color: #24273a;
}

.komorebi-control-menu .button:disabled,
.komorebi-control-menu .button.active:disabled {
  background-color: #1e2030;
  color: #181926;
}

.komorebi-control-menu .footer .text {
  font-size: 12px;
  color: var(--surface1);
}

/*POWER MENU WIDGET*/
/* Uptime text */
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(191, 202, 219, 0.726);
  font-weight: 600;
}

.power-menu-widget .label {
  color: #ed8796;
  font-size: 16px;
}

.power-menu-popup .button {
  padding: 0;
  width: 160px;
  height: 240px;
  border-radius: 4px;
  background-color: rgba(41, 42, 58, 0.75);
  /* font-family: "Segoe UI"; */
  color: white;
  border: 4px solid rgba(255, 255, 255, 0);
}

.power-menu-popup .button.hover {
  background-color: rgb(55, 56, 75);
  border: 4px solid rgb(55, 56, 75);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  /* font-family: "Segoe UI"; */
}

.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 54px;
  color: rgba(255, 255, 255, 0.25);
}

.power-menu-popup .button.cancel .icon {
  color: rgba(243, 139, 168, 0.55);
}

.power-menu-popup .button.cancel .label {
  color: rgba(243, 139, 168, 0.95);
}

/* ICONS */
.icon {
  font-size: 16px;
}

.microphone-widget .widget-container {
  min-width: 52px;
  max-width: 52px;
}

.microphone-widget .icon {
  color: var(--green);
  margin: 1px 2px 0 0;
}

.volume-widget .widget-container {
  min-width: 52px;
  max-width: 52px;
}

.volume-widget .icon {
  color: var(--blue);
  margin: 1px 2px 0 0;
}

.volume-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
}

.volume-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: var(--base);
}

.volume-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: var(--surface0);
}

.volume-slider::sub-page {
  background: var(--text);
  border-radius: 3px;
  height: 4px;
}

.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 8px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: var(--surface0);
}

.audio-container .device:hover {
  background-color: var(--overlay0);
}

.notification-widget .widget-container {
  min-width: 52px;
  max-width: 52px;
}

.notification-widget .icon {
  color: var(--yellow);
  margin: 1px 2px 0 0;
}

.start-menu .icon {
  font-size: 18px;
  color: var(--blue);
}

.clock-widget .icon {
  color: var(--mauve);
  font-size: 14px;
}

.media-widget {
  padding: 0;
  margin: 0 2px;
}

.media-widget .widget-container {
  max-width: 200px;
}

.media-widget .label {
  color: var(--lavender);
  padding: 0px;
  font-size: 12px;
}

.media-widget .btn {
  color: var(--text);
  padding: 0 4px;
  margin: 0 4px;
  font-weight: 400;
}

.media-widget .btn.play:hover,
.media-widget .btn:hover {
  color: var(--blue);
}

.media-widget .btn.play {
  font-size: 16px;
  color: var(--pink);
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: var(--surface1);
  font-size: 12px;
}

.media-menu {
  min-width: 420px;
  max-width: 420px;
  background-color: var(--crust);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  background-color: transparent;
}

.media-menu .artist {
  font-size: 13px;
  color: var(--text);
  margin-top: 0px;
  margin-bottom: 8px;
}

.media-menu .source {
  font-size: 11px;
  color: var(--crust);
  font-weight: normal;
  border-radius: 3px;
  background-color: var(--text);
  padding: 2px 4px;
}

.media-menu .btn {
  font-size: 13px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}

.media-menu .btn.prev {
  margin-left: 10px;
}

.media-menu .btn.play:hover,
.media-menu .btn:hover {
  color: var(--blue);
  background-color: rgba(255, 255, 255, 0.1);
}

.media-menu .btn.play {
  color: var(--pink);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 20px;
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--surface1);
  background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
  font-size: 13px;
  color: var(--surface1);
  margin-top: 20px;
  min-width: 100px;
  background-color: transparent;
}

.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
}

.media-menu .progress-slider::groove {
  height: 2px;
  border-radius: 3px;
  background: var(--base);
}

.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: var(--surface0);
}

.media-menu .progress-slider::sub-page {
  background: var(--text);
  border-radius: 3px;
  height: 4px;
}
