* {
  font-size: 12px;
  color: #cad3f5;
  font-weight: 500;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
}

.yasb-bar {
  padding: 0 8px;
  margin: 0;
  background-color: #24273a;
  border-radius: 12px;
}

.widget {
  padding: 0 10px;
  margin: 0;
}

.widget .label {
  padding: 2px 2px 1px 2px;
}

.widget .label.alt {
  padding: 1px 8px 1px 8px;
}

.clock-widget .label {
  padding-left: 8px;
}

.home-widget {
  padding: 0 4px 0 12px;
}

.home-widget .icon {
  color: #8aadf4;
}

.home-widget .icon:hover {
  color: #cad3f5;
}

.home-menu {
  background-color: rgba(24, 25, 38, 0.9);
}

.home-menu .menu-item {
  padding: 6px 48px 7px 16px;
  font-size: 12px;
  color: #cad3f5;
  font-weight: 600;
}

.home-menu .menu-item:hover {
  background-color: rgba(73, 77, 100, 0.9);
  color: #cad3f5;
}

.home-menu .separator {
  max-height: 1px;
  background-color: rgba(128, 135, 162, 0.9);
}

.komorebi-workspaces .ws-btn {
  font-size: 18px;
  background-color: transparent;
  padding: 0 2px 0 2px;
  color: #95a0ad;
}

.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated,
.komorebi-workspaces .ws-btn.populated:hover,
.komorebi-workspaces .ws-btn.active {
  color: #8aadf4;
}

.komorebi-control-widget .label {
  font-size: 14px;
  color: #cad3f5;
  font-weight: 600;
}

.komorebi-control-widget .icon {
  color: #8aadf4;
}

.komorebi-control-widget .icon:hover {
  color: #cad3f5;
}

.komorebi-control-menu {
  background-color: rgba(24, 25, 38, 0.9);
}

.komorebi-control-menu .button {
  color: #494d64;
  padding: 8px 16px;
  font-size: 32px;
  border-radius: 8px;
  background-color: #24273a;
}

.komorebi-control-menu .button.active {
  color: #cad3f5;
  background-color: #24273a;
}

.komorebi-control-menu .button:disabled,
.komorebi-control-menu .button.active:disabled {
  background-color: #1e2030;
  color: #181926;
}

.komorebi-control-menu .footer .text {
  font-size: 12px;
  color: #494d64;
}

/*POWER MENU WIDGET*/
/* Uptime text */
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(191, 202, 219, 0.726);
  font-weight: 600;
}

.power-menu-widget .label {
  color: #ed8796;
  font-size: 16px;
}

.power-menu-popup .button {
  padding: 0;
  width: 160px;
  height: 240px;
  border-radius: 4px;
  background-color: rgba(41, 42, 58, 0.75);
  /* font-family: "Segoe UI"; */
  color: white;
  border: 4px solid rgba(255, 255, 255, 0);
}

.power-menu-popup .button.hover {
  background-color: rgb(55, 56, 75);
  border: 4px solid rgb(55, 56, 75);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  /* font-family: "Segoe UI"; */
}

.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 54px;
  color: rgba(255, 255, 255, 0.25);
}

.power-menu-popup .button.cancel .icon {
  color: rgba(243, 139, 168, 0.55);
}

.power-menu-popup .button.cancel .label {
  color: rgba(243, 139, 168, 0.95);
}

/* ICONS */
.icon {
  font-size: 16px;
}

.microphone-widget .icon {
  color: #a6da95;
  margin: 1px 2px 0 0;
}

.volume-widget .icon {
  color: #8aadf4;
  margin: 1px 2px 0 0;
}

.notification-widget .icon {
  color: #eed49f;
  margin: 1px 2px 0 0;
}

.start-menu .icon {
  font-size: 18px;
  color: #8aadf4;
}

.clock-widget .icon {
  color: #cba6f7;
  font-size: 14px;
}

.media-widget {
  padding: 0;
  margin: 0 2px;
}

.media-widget .label {
  color: #b4befe;
  padding: 0px;
  font-size: 12px;
}

.media-widget .btn {
  color: #cad3f5;
  padding: 0 4px;
  margin: 0 4px;
  font-weight: 400;
}

.media-widget .btn.play:hover,
.media-widget .btn:hover {
  color: #8aadf4;
}

.media-widget .btn.play {
  font-size: 16px;
  color: #f5bde6;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: #494d64;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
}

.media-menu {
  min-width: 420px;
  max-width: 420px;
  background-color: rgba(24, 25, 38, 0.9);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.media-menu .artist {
  font-size: 13px;
  color: #cad3f5;
  margin-top: 0px;
  margin-bottom: 8px;
}

.media-menu .source {
  font-size: 11px;
  color: #181926;
  font-weight: normal;
  border-radius: 3px;
  background-color: #cad3f5;
  padding: 2px 4px;
}

.media-menu .btn {
  font-size: 13px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}

.media-menu .btn.prev {
  margin-left: 10px;
}

.media-menu .btn.play:hover,
.media-menu .btn:hover {
  color: #8aadf4;
  background-color: rgba(255, 255, 255, 0.1);
}

.media-menu .btn.play {
  color: #f5bde6;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 20px;
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: #494d64;
  background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
  font-size: 13px;
  color: #494d64;
  margin-top: 20px;
  min-width: 100px;
}

.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
}

.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
}

.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
}

.media-menu .progress-slider::sub-page {
  background: #cad3f5;
  border-radius: 3px;
  height: 4px;
}
