* {
    rosewater: #dc8a78;
  flamingo: #dd7878;
  pink: #ea76cb;
  mauve: #8839ef;
  red: #d20f39;
  maroon: #e64553;
  peach: #fe640b;
  yellow: #df8e1d;
  green: #40a02b;
  teal: #179299;
  sky: #04a5e5;
  sapphire: #209fb5;
  blue: #1e66f5;
  lavender: #7287fd;
  text: #4c4f69;
  subtext1: #5c5f77;
  subtext0: #6c6f85;
  overlay2: #7c7f93;
  overlay1: #8c8fa1;
  overlay0: #9ca0b0;
  surface2: #acb0be;
  surface1: #bcc0cc;
  surface0: #ccd0da;
  base: #eff1f5;
  mantle: #e6e9ef;
  crust: #dce0e8;

  spacing:                     2;
  normal-border:               2px;
  border-radius:               5px;
  border-color:                var(blue);
  foreground:                  var(text);
  background:                  var(base);
  light-foreground:            var(text);
  light-background:            var(mantle);
  separator-color:             var(foreground);
  background-color:            transparent;
  active-foreground:           var(blue);
  active-background:           var(background);
  normal-foreground:           var(foreground);
  normal-background:           var(background);
  urgent-foreground:           var(red);
  urgent-background:           var(background);
  alternate-active-foreground: var(blue);
  alternate-active-background: var(light-background);
  alternate-normal-foreground: var(foreground);
  alternate-normal-background: var(light-background);
  alternate-urgent-foreground: var(red);
  alternate-urgent-background: var(light-background);
  selected-active-foreground:  var(background);
  selected-active-background:  var(blue);
  selected-normal-foreground:  var(light-background);
  selected-normal-background:  var(light-foreground);
  selected-urgent-foreground:  var(background);
  selected-urgent-background:  var(red);
}
