@import "../fnf/current/theme/swaync.css";

* {
  all: unset;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
  transition: 200ms;
}

trough highlight {
  background: @foreground;
}

scale {
  margin: 0 7px;
}

scale trough {
  margin: 0rem 1rem;
  min-height: 8px;
  min-width: 70px;
  border-radius: 5px;
}

trough slider {
  margin: -10px;
  border-radius: 12.6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
  background-color: #8aadf4;
}

trough slider:hover {
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.8),
    0 0 8px #8aadf4;
}

trough {
  background-color: #363a4f;
}

/* notifications */
.notification-background {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px @surface-background;
  border-radius: 5px;
  /* margin: 18px; */
  /* margin: 4px 10px; */
  margin: 0;
  padding: 0;
  background-color: @dark-background;
  color: @light-foreground;
}

.notification-background .notification {
  padding: 0.5rem;
  border-radius: 5px;
}

.notification-background .notification.low {
  opacity: 0.8;
}

.notification-background .notification.critical {
  box-shadow: inset 0 0 5px 0 @critical-background;
}

.notification-content {
  margin: 0.5rem;
  padding: 0.5rem;
}

.notification-content overlay {
  /* icons */
  margin: 1rem;
}

.notification-content .summary {
  color: @foreground;
}

.notification-content .time {
  color: @foreground;
}

.notification-content .body {
  color: #b8c0e0;
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 5px;
  color: @critical-foreground;
  background-color: @critical-background;
}

.notification-background .close-button:hover {
  background-color: @hover-critical-background;
}

.notification-background .close-button:active {
  background-color: @active-critical-background;
}

.notification .notification-action {
  border-radius: 5px;
  /* box-shadow: inset 0 0 0 1px @text; */
  /* margin: 4px; */
  /* padding: 8px; */
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.2rem; /* controls the button size not text size*/
  background-color: @surface-background;
  color: @surface-foreground;
}

.notification .notification-action:hover {
  background-color: @hover-surface-background;
}

.notification .notification-action:active {
  background-color: @active-surface-background;
}

.notification.critical progress {
  background-color: @critical-background;
}

.notification.low progress,
.notification.normal progress {
  background-color: @active-foreground;
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 5px;
  padding: 1rem 0;
}

.notification-row {
  margin: 1rem 1rem 0 0;
}

/* control center */
.control-center {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px @surface-background;
  border-radius: 5px;
  background-color: @light-background;
  color: @light-foreground;
  padding: 1rem;
}

/**/
/* .control-center .notification-background .notification { */
/*   border-radius: 5px; */
/* } */
/**/
/* .control-center .notification-background .notification.low { */
/*   opacity: 0.8; */
/* } */

.control-center .widget-title {
  background-color: @background;
  border-radius: 5px 5px 0 0;
  margin-top: 2rem;
  padding: 1rem;
}

.control-center .widget-title > label {
  color: @foreground;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 5px;
  color: @surface-foreground;
  background-color: @surface-background;
  /* box-shadow: inset 0 0 0 1px #494d64; */
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: @hover-surface-background;
}

.control-center .widget-title button:active {
  background-color: @active-surface-background;
}

.control-center .notification-group {
  background-color: @background;
  padding: 1rem;
}

/* Bottom notification */
.control-center .notification-group:last-child {
  border-radius: 0 0 5px 5px;
}

.control-center .notification-row {
  margin: 0.25rem 0 0 0;
}

.notification-group .notification-group-headers {
  margin-bottom: 1rem;
}

.notification-group .notification-group-buttons {
  margin-bottom: 1rem;
}

.notification-group.collapsed.not-expanded {
  opacity: 0.4;
}

/* .notification-group.collapsed { */
/*   margin-bottom: 5rem; */
/* } */

scrollbar slider {
  margin: -3px;
  opacity: 0.8;
}

scrollbar trough {
  margin: 2px 0;
}

/* dnd */
.widget-dnd {
  background-color: @background;
  padding: 1rem;
  /* padding-top: 0; */
  font-size: 1.1rem;
}

.widget-dnd > label {
  color: @active-surface-background;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @surface-background;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @active-color;
}

.widget-dnd > switch slider {
  background: @hover-surface-background;
  border-radius: 8px;
}

.widget-dnd > switch slider:hover {
  background: @active-surface-background;
}

/* mpris */
:root {
  --mpris-album-art-icon-size: 100px;
}

.widget-mpris {
  background-color: @base;
  margin-top: 2rem;
  border-radius: 5px;
}

.widget-mpris-player {
  margin: 1rem 0;
  background: @surface-background;
  border-radius: 5px;
  color: @surface-foreground;
}

.mpris-background {
  /* background-color: @background; */
  filter: blur(0.2rem);
}

.mpris-overlay {
  background-color: @surface-background;
  opacity: 0.9;
  padding: 15px 10px;
}

.widget-mpris-album-art {
  -gtk-icon-size: 100px;
  border-radius: 12.6px;
  margin: 0 10px;
}

.widget-mpris-title {
  font-size: 1.2rem;
  color: @foreground;
}

.widget-mpris-subtitle {
  font-size: 1rem;
  color: #b8c0e0;
}

.widget-mpris button {
  border-radius: 12.6px;
  color: @foreground;
  margin: 0 5px;
  padding: 2px;
}

.widget-mpris button image {
  -gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
  background-color: @hover-surface-background;
}

.widget-mpris button:active {
  background-color: @active-surface-background;
}

.widget-mpris button:disabled {
  opacity: 0.5;
}

.menu-button-bar label {
  font-size: 3rem;
  padding: 0 2rem 0 1rem;
}

.menu-button-bar button:hover {
  background-color: @hover-background;
  color: @hover-foreground;
  border-radius: 12px;
}

/* .widget-menubar > box > .menu-button-bar > button > label { */
/*   font-size: 3rem; */
/*   padding: 0.5rem 2rem; */
/*   margin: 0 4px; */
/* } */
/**/
/* .widget-menubar > box > .menu-button-bar > :last-child { */
/*   color: #ed8796; */
/* } */

.widget-menubar > revealer {
  border-radius: 12px;
  background: @background;
  color: @foreground;
  /* padding: 0.5rem 0; */
  /* margin: 1rem 0; */
}

.widget-menubar > revealer label {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.widget-menubar > revealer button {
  border-radius: 12px;
  margin: 0.5rem;
  background: @surface-background;
  color: @surface-foreground;
}

.widget-menubar > revealer button:hover {
  /* background: #363a4f; */
  /* background: @hover-background; */
  color: @hover-surface-foreground;
  background: @hover-surface-background;
}

/* .power-buttons button:hover, */
/* .powermode-buttons button:hover, */
/* .screenshot-buttons button:hover { */
/*   background: #363a4f; */
/* } */

.control-center .widget-label > label {
  color: @foreground;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  margin-top: 1rem;
  padding: 1rem 0;
  border-radius: 12px;
  background: @background;
}

.widget-volume label {
  font-size: 1.5rem;
  color: #7dc4e4;
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: #7dc4e4;
}

.widget-backlight {
  margin-top: 0.5rem;
  padding: 1rem 0;
  background: @background;
  border-radius: 12px;
}

.widget-backlight trough highlight {
  background: #eed49f;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #eed49f;
  padding: 0 1rem;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
