[Desktop Entry]
Version=1.0
Type=Application
Name=Whatsapp
Comment=Whatsapp
Exec=brave --new-window --app="https://web.whatsapp.com"
Terminal=false
Icon=Whatsapp
StartupNotify=true
